<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row">
                
                    
                    <div class="col col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
                        <app-sidebar></app-sidebar>
                    </div>
                    <div class="col col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 col-xxl-10"> 
                        <h1 align="center">
                            <small class="text-muted">Complaints</small>
                          </h1>
                      
                        <hr >
                        <div class="container" *ngFor="let i of data">
                           
                            <div class="card-header">
                                <div class="col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                                    <h6>Akhil.A</h6>
                                <h6>33220825008</h6>
                                </div>
                            </div>
                            <div class="card-body" >
                                <p>What has happened?</p>
                                <p>{{i.happend}}</p>
                                <p>User's suggestion.</p>
                                <p>{{i.right}}</p>
                                <div class="container">
                                    <h6 align="right" >20/10/2022</h6>
                                </div>
                                
                            </div>
                          </div>
                          <hr>
    
                    </div>
                
            </div>
        </div>
    </div>
</div>
