<app-navbar></app-navbar>
<div class="container" >
  <div class="row g-3">
      <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
          <div class="row">
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
              <div class="col col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 col-xxl-1">
                <app-sidebar></app-sidebar>
              </div>
              <div class="col col-11 col-sm-11 col-md-11 col-lg-11 col-xl-11 col-xxl-11">
                <div>
                  <h1 align="center">
                    <small class="text-muted">Add Route</small>
                  </h1>
                  <hr>
                  <div>
                  <div class="card border-secondary mb-3">
                    <div class="card-body" >
               
               
                 
                    <form class="row g-3 needs-validation" novalidate  #dregister="ngForm" >
                      <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                        <label for="validationCustom01" class="form-label">Bus Id</label>
                        <input id="validationCustom01" class="form-control" type="text" name="busid" [(ngModel)]="driver.name" required>
                        <div class="valid-feedback">
                        </div>
                        <div class="invalid-feedback">
                          Please write a valid name
                        </div>
                      </div>
                      <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                        <label for="validationCustomUsername" class="form-label">Bus No</label>
                        <input id="validationCustomUsername"  class="form-control" type="text" name="busno" [(ngModel)]="driver.userName" required>
                        <div class="invalid-feedback">
                          should have atleast 6 characters
                        </div>
                      </div>
                      <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                        <label for="validationCustom02" class="label">Total Seats</label>
                        <input id="validationCustom02" class="form-control"  name="seats" [(ngModel)]="driver.contactNumber" required>
                        <div class="invalid-feedback">
                          provide a valid contact number
                        </div>
                      </div>
                      <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                        <label for="mail" class="label">Image</label>
                        <input id="image" class="form-control" type="file" name="image" [(ngModel)]="driver.email" required>
                        <div class="invalid-feedback">
                          provide a valid Emailid
                        </div>
                      </div>
                      <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                        <label for="bId" class="label">Boarding Point</label>
                        <input id="bId" class="form-control" name="boarding" [(ngModel)]="driver.driverId" required>
                        <div class="invalid-feedback">
                          provide a valid DriveId
                        </div>
                      </div>
                      
                    
                    <div class="group">
                      <br>
                      
                    <div *ngIf="dregister.valid">
                      <button  class="btn btn-primary button" type="submit" (click)="()" >Register</button>
                    </div>
                    <div *ngIf="!dregister.valid">
                      <button  class="btn btn-primary button" >Register</button>
                    </div>
                    </div>
                    </form>
                  </div>
                </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
  </div>
</div>